body {
    overflow:hidden;
    background-image: url("./bg1.jpg");
    font-family: 'Montserrat', sans-serif;

}

div.sidebar {
    position:absolute;
    top:0;
    left:0;
    margin:0;
    height:100vh;
    width:15vw;
    overflow:hidden;
    -webkit-box-shadow: 10px 0px 56px -33px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 0px 56px -33px rgba(0,0,0,0.75);
    box-shadow: 10px 0px 56px -33px rgba(0,0,0,0.75);
}

div.sidebar-inner {
    position:relative;
    margin:0;
    height:100vh;
    width:15vw;
}

div.sidebar-inner ul {
    list-style-type:none;
}

div.sidebar-inner ul li {
    line-height:2.3em;
}

div.sidebar-inner ul li a {
    text-decoration:none;
    color:rgb(42, 62, 97);
    font-size:1.2em;
}

div.sidebar-inner ul li a:hover {
    text-decoration: underline;
}

div.list-container {
    position:absolute;
    top:0;
    left:0;
    margin:0;
    height:100vh;
    width:15vw;
    overflow-y:scroll;
    overflow-x:hidden;
    z-index:100;
    background:rgba(43, 45, 65, 0.336);
}

div.sidebar-bg {
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    filter:blur(15px);
    background-image:url("./bg1.jpg");
    z-index:1;
}

div.main-container {
    position:absolute;
    top:0;
    right:0;
    height:100vh;
    width:85vw;
    margin:0;
    padding:0;
}

div.main-container-inner {
    position:relative;
    height:100vh;
    width:85vw;
    overflow-y:scroll;
}

div.content {
    position:absolute;
    top:0;
    left:50%;
    transform:translate(-50%, 5vh);
    min-height:95vh;
    margin:0;
    width:65vw;
    border-radius:10px;
    /*
    background:rgba(42, 45, 66, 0.9);
    -webkit-box-shadow: 0px 25px 56px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 25px 56px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 25px 56px -8px rgba(0,0,0,0.75);
    */
}

div.title {
    width:100%;
    height:3em;
    line-height:3em;
    text-align:center;
    font-size:1.8em;
    color:rgb(189, 186, 221);
}

div.threads {
    width:100%;
    margin:0;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
}

div.thread {
    flex-grow:1;
    float:left;
    margin:10px;
    padding:15px;
    height:200px;
    min-width:200px;
    max-width:300px;
    background:rgba(33, 35, 48, 0.4);
    border-radius:5px;
    overflow:hidden;
    cursor:pointer;
}

div.thread:hover {
    transform:translateY(-5px);
}

div.subject {
    width:100%;
    height:50px;
    line-height:50px;
    font-size:18px;
    text-align:center;
    color:#fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.preview {
    max-height:150px;
    display:block;
    font-size:16px;
    color:rgb(125, 145, 236);
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.preview a {
    color:rgb(255, 96, 96);
}

div.post {
    box-sizing: border-box;
    margin:10px;
    background:rgba(33, 35, 48, 0.9);
    border-radius:5px;
    padding:15px;
}

div.post.op {
    background:rgba(113, 106, 214, 0.8);
}

div.header, div.comment {
    margin:10px;
}

div.header {
    color:rgb(102, 96, 194);
}

div.post.op div.header {
    color:rgb(35, 35, 63);
}

span.subject {
    font-weight:bold;
    color:rgb(255, 255, 255);
}

span.name {
    font-weight:bold;
}

div.comment {
    color:rgb(125, 145, 236);
}

div.post.op div.comment {
    color:rgb(25, 14, 63);
}

div.comment a {
    text-decoration:none;
    color:rgb(255, 96, 96);
}

span.quote {
    color:rgb(72, 241, 137);
}



